# loading data

In [2]:
import pandas as pd
df=pd.read_csv("B05006-original-data.csv")
df

/var/folders/2h/mxr2292918v68144kbqd531r0000gn/T/ipykernel_906/2608026668.py:2: DtypeWarning: Columns (2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv("B05006-original-data.csv")

,GEO_ID,NAME,B05006_001E,B05006_001M,B05006_002E,B05006_002M,B05006_003E,B05006_003M,B05006_004E,B05006_004M,...,B05006_174M,B05006_175E,B05006_175M,B05006_176E,B05006_176M,B05006_177E,B05006_177M,B05006_178E,B05006_178M,Unnamed: 358
0,Geography,Geographic Area Name,Estimate!!Total:,Margin of Error!!Total:,Estimate!!Total:!!Europe:,Margin of Error!!Total:!!Europe:,Estimate!!Total:!!Europe:!!Northern Europe:,Margin of Error!!Total:!!Europe:!!Northern Eur...,Estimate!!Total:!!Europe:!!Northern Europe:!!D...,Margin of Error!!Total:!!Europe:!!Northern Eur...,...,Margin of Error!!Total:!!Americas:!!Latin Amer...,Estimate!!Total:!!Americas:!!Latin America:!!S...,Margin of Error!!Total:!!Americas:!!Latin Amer...,Estimate!!Total:!!Americas:!!Northern America:,Margin of Error!!Total:!!Americas:!!Northern A...,Estimate!!Total:!!Americas:!!Northern America:...,Margin of Error!!Total:!!Americas:!!Northern A...,Estimate!!Total:!!Americas:!!Northern America:...,Margin of Error!!Total:!!Americas:!!Northern A...,NaN
1,1400000US36005000100,Census Tract 1; Bronx County; New York,396,164,18,32,0,13,0,13,...,22,0,13,0,13,0,13,0,13,NaN
2,1400000US36005000200,Census Tract 2; Bronx County; New York,1989,643,151,104,115,81,0,19,...,19,0,19,0,19,0,19,0,19,NaN
3,1400000US36005000400,Census Tract 4; Bronx County; New York,1027,524,12,19,0,19,0,19,...,87,0,19,0,19,0,19,0,19,NaN
4,1400000US36005001600,Census Tract 16; Bronx County; New York,1810,437,78,69,37,42,0,19,...,19,0,19,0,19,0,19,0,19,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2323,1400000US36085030302,Census Tract 303.02; Richmond County; New York,2128,388,386,239,0,19,0,19,...,19,0,19,0,19,0,19,0,19,NaN
2324,1400000US36085031901,Census Tract 319.01; Richmond County; New York,522,251,0,13,0,13,0,13,...,13,0,13,0,13,0,13,0,13,NaN
2325,1400000US36085031902,Census Tract 319.02; Richmond County; New York,1122,322,24,40,0,13,0,13,...,13,0,13,0,13,0,13,0,13,NaN
2326,1400000US36085032300,Census Tract 323; Richmond County; New York,211,116,0,13,0,13,0,13,...,13,0,13,0,13,0,13,0,13,NaN
2327,1400000US36085990100,Census Tract 9901; Richmond County; New York,0,13,0,13,0,13,0,13,...,13,0,13,0,13,0,13,0,13,NaN

# truncating GEOID to match with the dataframe to merge on

In [3]:
print(df.dtypes)

GEO_ID           object
NAME             object
B05006_001E      object
B05006_001M      object
B05006_002E      object
                 ...
B05006_177E      object
B05006_177M      object
B05006_178E      object
B05006_178M      object
Unnamed: 358    float64
Length: 359, dtype: object

In [4]:
df['GEO_ID'] = df['GEO_ID'].str[9:]

In [5]:
df

,GEO_ID,NAME,B05006_001E,B05006_001M,B05006_002E,B05006_002M,B05006_003E,B05006_003M,B05006_004E,B05006_004M,...,B05006_174M,B05006_175E,B05006_175M,B05006_176E,B05006_176M,B05006_177E,B05006_177M,B05006_178E,B05006_178M,Unnamed: 358
0,,Geographic Area Name,Estimate!!Total:,Margin of Error!!Total:,Estimate!!Total:!!Europe:,Margin of Error!!Total:!!Europe:,Estimate!!Total:!!Europe:!!Northern Europe:,Margin of Error!!Total:!!Europe:!!Northern Eur...,Estimate!!Total:!!Europe:!!Northern Europe:!!D...,Margin of Error!!Total:!!Europe:!!Northern Eur...,...,Margin of Error!!Total:!!Americas:!!Latin Amer...,Estimate!!Total:!!Americas:!!Latin America:!!S...,Margin of Error!!Total:!!Americas:!!Latin Amer...,Estimate!!Total:!!Americas:!!Northern America:,Margin of Error!!Total:!!Americas:!!Northern A...,Estimate!!Total:!!Americas:!!Northern America:...,Margin of Error!!Total:!!Americas:!!Northern A...,Estimate!!Total:!!Americas:!!Northern America:...,Margin of Error!!Total:!!Americas:!!Northern A...,NaN
1,36005000100,Census Tract 1; Bronx County; New York,396,164,18,32,0,13,0,13,...,22,0,13,0,13,0,13,0,13,NaN
2,36005000200,Census Tract 2; Bronx County; New York,1989,643,151,104,115,81,0,19,...,19,0,19,0,19,0,19,0,19,NaN
3,36005000400,Census Tract 4; Bronx County; New York,1027,524,12,19,0,19,0,19,...,87,0,19,0,19,0,19,0,19,NaN
4,36005001600,Census Tract 16; Bronx County; New York,1810,437,78,69,37,42,0,19,...,19,0,19,0,19,0,19,0,19,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2323,36085030302,Census Tract 303.02; Richmond County; New York,2128,388,386,239,0,19,0,19,...,19,0,19,0,19,0,19,0,19,NaN
2324,36085031901,Census Tract 319.01; Richmond County; New York,522,251,0,13,0,13,0,13,...,13,0,13,0,13,0,13,0,13,NaN
2325,36085031902,Census Tract 319.02; Richmond County; New York,1122,322,24,40,0,13,0,13,...,13,0,13,0,13,0,13,0,13,NaN
2326,36085032300,Census Tract 323; Richmond County; New York,211,116,0,13,0,13,0,13,...,13,0,13,0,13,0,13,0,13,NaN
2327,36085990100,Census Tract 9901; Richmond County; New York,0,13,0,13,0,13,0,13,...,13,0,13,0,13,0,13,0,13,NaN

# reading file to merge on

In [6]:
nta=pd.read_csv("Census_to_NTA_2020.csv")
nta

,GEOID,CountyFIPS,BoroCode,BoroName,BoroCT2020,CT2020,CTLabel,NTACode,NTAType,NTAName,NTAAbbrev,CDTACode,CDTAType,CDTAName
0,36005001901,5,2,Bronx,2001901,1901,19.01,BX0101,0,Mott Haven-Port Morris,MttHvn,BX01,CD,BX01 Melrose-Mott Haven-Port Morris (CD 1 Appr...
1,36005001902,5,2,Bronx,2001902,1902,19.02,BX0101,0,Mott Haven-Port Morris,MttHvn,BX01,CD,BX01 Melrose-Mott Haven-Port Morris (CD 1 Appr...
2,36005001903,5,2,Bronx,2001903,1903,19.03,BX0101,0,Mott Haven-Port Morris,MttHvn,BX01,CD,BX01 Melrose-Mott Haven-Port Morris (CD 1 Appr...
3,36005002300,5,2,Bronx,2002300,2300,23.00,BX0101,0,Mott Haven-Port Morris,MttHvn,BX01,CD,BX01 Melrose-Mott Haven-Port Morris (CD 1 Appr...
4,36005002500,5,2,Bronx,2002500,2500,25.00,BX0101,0,Mott Haven-Port Morris,MttHvn,BX01,CD,BX01 Melrose-Mott Haven-Port Morris (CD 1 Appr...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2322,36085022801,85,5,Staten Island,5022801,22801,228.01,SI0391,9,Freshkills Park (South),FrshklPK_S,SI03,CD,SI03 South Shore (CD 3 Approximation)
2323,36085001800,85,5,Staten Island,5001800,1800,18.00,SI9561,6,Fort Wadsworth,FtWdswrth,SI95,JIA,SI95 Great Kills Park-Fort Wadsworth (JIA 95 A...
2324,36085990100,85,5,Staten Island,5990100,990100,9901.00,SI9591,9,Hoffman & Swinburne Islands,HffmnIsl,SI95,JIA,SI95 Great Kills Park-Fort Wadsworth (JIA 95 A...
2325,36085011204,85,5,Staten Island,5011204,11204,112.04,SI9592,9,Miller Field,MllrFld,SI95,JIA,SI95 Great Kills Park-Fort Wadsworth (JIA 95 A...
2326,36085015400,85,5,Staten Island,5015400,15400,154.00,SI9593,9,Great Kills Park,GrtKlsPk,SI95,JIA,SI95 Great Kills Park-Fort Wadsworth (JIA 95 A...

In [7]:
nta = nta.rename(columns={'GEOID': 'GEO_ID'})

# merging

In [8]:
df.columns = df.iloc[0]  

df

,,Geographic Area Name,Estimate!!Total:,Margin of Error!!Total:,Estimate!!Total:!!Europe:,Margin of Error!!Total:!!Europe:,Estimate!!Total:!!Europe:!!Northern Europe:,Margin of Error!!Total:!!Europe:!!Northern Europe:,Estimate!!Total:!!Europe:!!Northern Europe:!!Denmark,Margin of Error!!Total:!!Europe:!!Northern Europe:!!Denmark,...,Margin of Error!!Total:!!Americas:!!Latin America:!!South America:!!Venezuela,Estimate!!Total:!!Americas:!!Latin America:!!South America:!!Other South America,Margin of Error!!Total:!!Americas:!!Latin America:!!South America:!!Other South America,Estimate!!Total:!!Americas:!!Northern America:,Margin of Error!!Total:!!Americas:!!Northern America:,Estimate!!Total:!!Americas:!!Northern America:!!Canada,Margin of Error!!Total:!!Americas:!!Northern America:!!Canada,Estimate!!Total:!!Americas:!!Northern America:!!Other Northern America,Margin of Error!!Total:!!Americas:!!Northern America:!!Other Northern America,NaN
0,,Geographic Area Name,Estimate!!Total:,Margin of Error!!Total:,Estimate!!Total:!!Europe:,Margin of Error!!Total:!!Europe:,Estimate!!Total:!!Europe:!!Northern Europe:,Margin of Error!!Total:!!Europe:!!Northern Eur...,Estimate!!Total:!!Europe:!!Northern Europe:!!D...,Margin of Error!!Total:!!Europe:!!Northern Eur...,...,Margin of Error!!Total:!!Americas:!!Latin Amer...,Estimate!!Total:!!Americas:!!Latin America:!!S...,Margin of Error!!Total:!!Americas:!!Latin Amer...,Estimate!!Total:!!Americas:!!Northern America:,Margin of Error!!Total:!!Americas:!!Northern A...,Estimate!!Total:!!Americas:!!Northern America:...,Margin of Error!!Total:!!Americas:!!Northern A...,Estimate!!Total:!!Americas:!!Northern America:...,Margin of Error!!Total:!!Americas:!!Northern A...,NaN
1,36005000100,Census Tract 1; Bronx County; New York,396,164,18,32,0,13,0,13,...,22,0,13,0,13,0,13,0,13,NaN
2,36005000200,Census Tract 2; Bronx County; New York,1989,643,151,104,115,81,0,19,...,19,0,19,0,19,0,19,0,19,NaN
3,36005000400,Census Tract 4; Bronx County; New York,1027,524,12,19,0,19,0,19,...,87,0,19,0,19,0,19,0,19,NaN
4,36005001600,Census Tract 16; Bronx County; New York,1810,437,78,69,37,42,0,19,...,19,0,19,0,19,0,19,0,19,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2323,36085030302,Census Tract 303.02; Richmond County; New York,2128,388,386,239,0,19,0,19,...,19,0,19,0,19,0,19,0,19,NaN
2324,36085031901,Census Tract 319.01; Richmond County; New York,522,251,0,13,0,13,0,13,...,13,0,13,0,13,0,13,0,13,NaN
2325,36085031902,Census Tract 319.02; Richmond County; New York,1122,322,24,40,0,13,0,13,...,13,0,13,0,13,0,13,0,13,NaN
2326,36085032300,Census Tract 323; Richmond County; New York,211,116,0,13,0,13,0,13,...,13,0,13,0,13,0,13,0,13,NaN
2327,36085990100,Census Tract 9901; Richmond County; New York,0,13,0,13,0,13,0,13,...,13,0,13,0,13,0,13,0,13,NaN

In [9]:
df = df.rename(columns={'': 'GEO_ID'})
df

,GEO_ID,Geographic Area Name,Estimate!!Total:,Margin of Error!!Total:,Estimate!!Total:!!Europe:,Margin of Error!!Total:!!Europe:,Estimate!!Total:!!Europe:!!Northern Europe:,Margin of Error!!Total:!!Europe:!!Northern Europe:,Estimate!!Total:!!Europe:!!Northern Europe:!!Denmark,Margin of Error!!Total:!!Europe:!!Northern Europe:!!Denmark,...,Margin of Error!!Total:!!Americas:!!Latin America:!!South America:!!Venezuela,Estimate!!Total:!!Americas:!!Latin America:!!South America:!!Other South America,Margin of Error!!Total:!!Americas:!!Latin America:!!South America:!!Other South America,Estimate!!Total:!!Americas:!!Northern America:,Margin of Error!!Total:!!Americas:!!Northern America:,Estimate!!Total:!!Americas:!!Northern America:!!Canada,Margin of Error!!Total:!!Americas:!!Northern America:!!Canada,Estimate!!Total:!!Americas:!!Northern America:!!Other Northern America,Margin of Error!!Total:!!Americas:!!Northern America:!!Other Northern America,NaN
0,,Geographic Area Name,Estimate!!Total:,Margin of Error!!Total:,Estimate!!Total:!!Europe:,Margin of Error!!Total:!!Europe:,Estimate!!Total:!!Europe:!!Northern Europe:,Margin of Error!!Total:!!Europe:!!Northern Eur...,Estimate!!Total:!!Europe:!!Northern Europe:!!D...,Margin of Error!!Total:!!Europe:!!Northern Eur...,...,Margin of Error!!Total:!!Americas:!!Latin Amer...,Estimate!!Total:!!Americas:!!Latin America:!!S...,Margin of Error!!Total:!!Americas:!!Latin Amer...,Estimate!!Total:!!Americas:!!Northern America:,Margin of Error!!Total:!!Americas:!!Northern A...,Estimate!!Total:!!Americas:!!Northern America:...,Margin of Error!!Total:!!Americas:!!Northern A...,Estimate!!Total:!!Americas:!!Northern America:...,Margin of Error!!Total:!!Americas:!!Northern A...,NaN
1,36005000100,Census Tract 1; Bronx County; New York,396,164,18,32,0,13,0,13,...,22,0,13,0,13,0,13,0,13,NaN
2,36005000200,Census Tract 2; Bronx County; New York,1989,643,151,104,115,81,0,19,...,19,0,19,0,19,0,19,0,19,NaN
3,36005000400,Census Tract 4; Bronx County; New York,1027,524,12,19,0,19,0,19,...,87,0,19,0,19,0,19,0,19,NaN
4,36005001600,Census Tract 16; Bronx County; New York,1810,437,78,69,37,42,0,19,...,19,0,19,0,19,0,19,0,19,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2323,36085030302,Census Tract 303.02; Richmond County; New York,2128,388,386,239,0,19,0,19,...,19,0,19,0,19,0,19,0,19,NaN
2324,36085031901,Census Tract 319.01; Richmond County; New York,522,251,0,13,0,13,0,13,...,13,0,13,0,13,0,13,0,13,NaN
2325,36085031902,Census Tract 319.02; Richmond County; New York,1122,322,24,40,0,13,0,13,...,13,0,13,0,13,0,13,0,13,NaN
2326,36085032300,Census Tract 323; Richmond County; New York,211,116,0,13,0,13,0,13,...,13,0,13,0,13,0,13,0,13,NaN
2327,36085990100,Census Tract 9901; Richmond County; New York,0,13,0,13,0,13,0,13,...,13,0,13,0,13,0,13,0,13,NaN

In [10]:
df['GEO_ID'] = df['GEO_ID'].astype(str)

nta['GEO_ID'] = nta['GEO_ID'].astype(str)

merged_df = pd.merge(df, nta, on='GEO_ID')

In [11]:
merged_df

,GEO_ID,Geographic Area Name,Estimate!!Total:,Margin of Error!!Total:,Estimate!!Total:!!Europe:,Margin of Error!!Total:!!Europe:,Estimate!!Total:!!Europe:!!Northern Europe:,Margin of Error!!Total:!!Europe:!!Northern Europe:,Estimate!!Total:!!Europe:!!Northern Europe:!!Denmark,Margin of Error!!Total:!!Europe:!!Northern Europe:!!Denmark,...,BoroCT2020,CT2020,CTLabel,NTACode,NTAType,NTAName,NTAAbbrev,CDTACode,CDTAType,CDTAName
0,36005000100,Census Tract 1; Bronx County; New York,396,164,18,32,0,13,0,13,...,2000100,100,1.00,QN0151,5,Rikers Island,RkrsIsl,QN01,CD,QN01 Astoria-Queensbridge (CD 1 Equivalent)
1,36005000200,Census Tract 2; Bronx County; New York,1989,643,151,104,115,81,0,19,...,2000200,200,2.00,BX0902,0,Soundview-Clason Point,Sdvw_ClsPt,BX09,CD,BX09 Soundview-Parkchester (CD 9 Approximation)
2,36005000400,Census Tract 4; Bronx County; New York,1027,524,12,19,0,19,0,19,...,2000400,400,4.00,BX0902,0,Soundview-Clason Point,Sdvw_ClsPt,BX09,CD,BX09 Soundview-Parkchester (CD 9 Approximation)
3,36005001600,Census Tract 16; Bronx County; New York,1810,437,78,69,37,42,0,19,...,2001600,1600,16.00,BX0902,0,Soundview-Clason Point,Sdvw_ClsPt,BX09,CD,BX09 Soundview-Parkchester (CD 9 Approximation)
4,36005001901,Census Tract 19.01; Bronx County; New York,595,239,65,55,0,13,0,13,...,2001901,1901,19.01,BX0101,0,Mott Haven-Port Morris,MttHvn,BX01,CD,BX01 Melrose-Mott Haven-Port Morris (CD 1 Appr...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2322,36085030302,Census Tract 303.02; Richmond County; New York,2128,388,386,239,0,19,0,19,...,5030302,30302,303.02,SI0107,0,Mariner's Harbor-Arlington-Graniteville,MrnrsHrbr,SI01,CD,SI01 North Shore (CD 1 Equivalent)
2323,36085031901,Census Tract 319.01; Richmond County; New York,522,251,0,13,0,13,0,13,...,5031901,31901,319.01,SI0107,0,Mariner's Harbor-Arlington-Graniteville,MrnrsHrbr,SI01,CD,SI01 North Shore (CD 1 Equivalent)
2324,36085031902,Census Tract 319.02; Richmond County; New York,1122,322,24,40,0,13,0,13,...,5031902,31902,319.02,SI0107,0,Mariner's Harbor-Arlington-Graniteville,MrnrsHrbr,SI01,CD,SI01 North Shore (CD 1 Equivalent)
2325,36085032300,Census Tract 323; Richmond County; New York,211,116,0,13,0,13,0,13,...,5032300,32300,323.00,SI0107,0,Mariner's Harbor-Arlington-Graniteville,MrnrsHrbr,SI01,CD,SI01 North Shore (CD 1 Equivalent)
2326,36085990100,Census Tract 9901; Richmond County; New York,0,13,0,13,0,13,0,13,...,5990100,990100,9901.00,SI9591,9,Hoffman & Swinburne Islands,HffmnIsl,SI95,JIA,SI95 Great Kills Park-Fort Wadsworth (JIA 95 A...

In [12]:
merged_df.columns

Index([                                                     'GEO_ID',
                                              'Geographic Area Name',
                                                  'Estimate!!Total:',
                                           'Margin of Error!!Total:',
                                         'Estimate!!Total:!!Europe:',
                                  'Margin of Error!!Total:!!Europe:',
                       'Estimate!!Total:!!Europe:!!Northern Europe:',
                'Margin of Error!!Total:!!Europe:!!Northern Europe:',
              'Estimate!!Total:!!Europe:!!Northern Europe:!!Denmark',
       'Margin of Error!!Total:!!Europe:!!Northern Europe:!!Denmark',
       ...
                                                        'BoroCT2020',
                                                            'CT2020',
                                                           'CTLabel',
                                                           'NTACode',
                                                           'NTAType',
                                                           'NTAName',
                                                         'NTAAbbrev',
                                                          'CDTACode',
                                                          'CDTAType',
                                                          'CDTAName'],
      dtype='object', length=372)

# removing margin of errors and other unwanted columns

In [13]:
merged_df.columns=merged_df.columns.astype(str)

In [14]:
merged_df = merged_df.loc[:, ~merged_df.columns.str.contains("Margin of Error!!", regex=False)]
merged_df

,GEO_ID,Geographic Area Name,Estimate!!Total:,Estimate!!Total:!!Europe:,Estimate!!Total:!!Europe:!!Northern Europe:,Estimate!!Total:!!Europe:!!Northern Europe:!!Denmark,Estimate!!Total:!!Europe:!!Northern Europe:!!Ireland,Estimate!!Total:!!Europe:!!Northern Europe:!!Norway,Estimate!!Total:!!Europe:!!Northern Europe:!!Sweden,Estimate!!Total:!!Europe:!!Northern Europe:!!United Kingdom (inc. Crown Dependencies):,...,BoroCT2020,CT2020,CTLabel,NTACode,NTAType,NTAName,NTAAbbrev,CDTACode,CDTAType,CDTAName
0,36005000100,Census Tract 1; Bronx County; New York,396,18,0,0,0,0,0,0,...,2000100,100,1.00,QN0151,5,Rikers Island,RkrsIsl,QN01,CD,QN01 Astoria-Queensbridge (CD 1 Equivalent)
1,36005000200,Census Tract 2; Bronx County; New York,1989,151,115,0,0,0,0,115,...,2000200,200,2.00,BX0902,0,Soundview-Clason Point,Sdvw_ClsPt,BX09,CD,BX09 Soundview-Parkchester (CD 9 Approximation)
2,36005000400,Census Tract 4; Bronx County; New York,1027,12,0,0,0,0,0,0,...,2000400,400,4.00,BX0902,0,Soundview-Clason Point,Sdvw_ClsPt,BX09,CD,BX09 Soundview-Parkchester (CD 9 Approximation)
3,36005001600,Census Tract 16; Bronx County; New York,1810,78,37,0,8,0,0,29,...,2001600,1600,16.00,BX0902,0,Soundview-Clason Point,Sdvw_ClsPt,BX09,CD,BX09 Soundview-Parkchester (CD 9 Approximation)
4,36005001901,Census Tract 19.01; Bronx County; New York,595,65,0,0,0,0,0,0,...,2001901,1901,19.01,BX0101,0,Mott Haven-Port Morris,MttHvn,BX01,CD,BX01 Melrose-Mott Haven-Port Morris (CD 1 Appr...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2322,36085030302,Census Tract 303.02; Richmond County; New York,2128,386,0,0,0,0,0,0,...,5030302,30302,303.02,SI0107,0,Mariner's Harbor-Arlington-Graniteville,MrnrsHrbr,SI01,CD,SI01 North Shore (CD 1 Equivalent)
2323,36085031901,Census Tract 319.01; Richmond County; New York,522,0,0,0,0,0,0,0,...,5031901,31901,319.01,SI0107,0,Mariner's Harbor-Arlington-Graniteville,MrnrsHrbr,SI01,CD,SI01 North Shore (CD 1 Equivalent)
2324,36085031902,Census Tract 319.02; Richmond County; New York,1122,24,0,0,0,0,0,0,...,5031902,31902,319.02,SI0107,0,Mariner's Harbor-Arlington-Graniteville,MrnrsHrbr,SI01,CD,SI01 North Shore (CD 1 Equivalent)
2325,36085032300,Census Tract 323; Richmond County; New York,211,0,0,0,0,0,0,0,...,5032300,32300,323.00,SI0107,0,Mariner's Harbor-Arlington-Graniteville,MrnrsHrbr,SI01,CD,SI01 North Shore (CD 1 Equivalent)
2326,36085990100,Census Tract 9901; Richmond County; New York,0,0,0,0,0,0,0,0,...,5990100,990100,9901.00,SI9591,9,Hoffman & Swinburne Islands,HffmnIsl,SI95,JIA,SI95 Great Kills Park-Fort Wadsworth (JIA 95 A...

In [15]:
merged_df = merged_df.drop(columns=['nan', 'CountyFIPS', 'BoroCode','BoroCT2020', 'CT2020', 'CTLabel', 'NTACode', 'NTAType', 'NTAAbbrev', 'CDTACode', 'CDTAType', 'CDTAName'])
merged_df

,GEO_ID,Geographic Area Name,Estimate!!Total:,Estimate!!Total:!!Europe:,Estimate!!Total:!!Europe:!!Northern Europe:,Estimate!!Total:!!Europe:!!Northern Europe:!!Denmark,Estimate!!Total:!!Europe:!!Northern Europe:!!Ireland,Estimate!!Total:!!Europe:!!Northern Europe:!!Norway,Estimate!!Total:!!Europe:!!Northern Europe:!!Sweden,Estimate!!Total:!!Europe:!!Northern Europe:!!United Kingdom (inc. Crown Dependencies):,...,Estimate!!Total:!!Americas:!!Latin America:!!South America:!!Guyana,Estimate!!Total:!!Americas:!!Latin America:!!South America:!!Peru,Estimate!!Total:!!Americas:!!Latin America:!!South America:!!Uruguay,Estimate!!Total:!!Americas:!!Latin America:!!South America:!!Venezuela,Estimate!!Total:!!Americas:!!Latin America:!!South America:!!Other South America,Estimate!!Total:!!Americas:!!Northern America:,Estimate!!Total:!!Americas:!!Northern America:!!Canada,Estimate!!Total:!!Americas:!!Northern America:!!Other Northern America,BoroName,NTAName
0,36005000100,Census Tract 1; Bronx County; New York,396,18,0,0,0,0,0,0,...,8,9,0,12,0,0,0,0,Bronx,Rikers Island
1,36005000200,Census Tract 2; Bronx County; New York,1989,151,115,0,0,0,0,115,...,0,0,0,0,0,0,0,0,Bronx,Soundview-Clason Point
2,36005000400,Census Tract 4; Bronx County; New York,1027,12,0,0,0,0,0,0,...,15,0,0,58,0,0,0,0,Bronx,Soundview-Clason Point
3,36005001600,Census Tract 16; Bronx County; New York,1810,78,37,0,8,0,0,29,...,11,13,0,0,0,0,0,0,Bronx,Soundview-Clason Point
4,36005001901,Census Tract 19.01; Bronx County; New York,595,65,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,Bronx,Mott Haven-Port Morris
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2322,36085030302,Census Tract 303.02; Richmond County; New York,2128,386,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,Staten Island,Mariner's Harbor-Arlington-Graniteville
2323,36085031901,Census Tract 319.01; Richmond County; New York,522,0,0,0,0,0,0,0,...,23,6,0,0,0,0,0,0,Staten Island,Mariner's Harbor-Arlington-Graniteville
2324,36085031902,Census Tract 319.02; Richmond County; New York,1122,24,0,0,0,0,0,0,...,15,0,0,0,0,0,0,0,Staten Island,Mariner's Harbor-Arlington-Graniteville
2325,36085032300,Census Tract 323; Richmond County; New York,211,0,0,0,0,0,0,0,...,3,0,0,0,0,0,0,0,Staten Island,Mariner's Harbor-Arlington-Graniteville
2326,36085990100,Census Tract 9901; Richmond County; New York,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,Staten Island,Hoffman & Swinburne Islands

# cleaning header

In [16]:
merged_df.columns = (
    list(merged_df.columns[:3]) + [
        str(col)
        .replace("Estimate!!Total:!!", "")
        .replace("Estimate!!Total:", "")
        .replace("!!", ":")
        .strip(":")
        for col in merged_df.columns[3:]
    ]
)

In [17]:
merged_df

,GEO_ID,Geographic Area Name,Estimate!!Total:,Europe,Europe::Northern Europe,Europe::Northern Europe::Denmark,Europe::Northern Europe::Ireland,Europe::Northern Europe::Norway,Europe::Northern Europe::Sweden,Europe::Northern Europe::United Kingdom (inc. Crown Dependencies),...,Americas::Latin America::South America::Guyana,Americas::Latin America::South America::Peru,Americas::Latin America::South America::Uruguay,Americas::Latin America::South America::Venezuela,Americas::Latin America::South America::Other South America,Americas::Northern America,Americas::Northern America::Canada,Americas::Northern America::Other Northern America,BoroName,NTAName
0,36005000100,Census Tract 1; Bronx County; New York,396,18,0,0,0,0,0,0,...,8,9,0,12,0,0,0,0,Bronx,Rikers Island
1,36005000200,Census Tract 2; Bronx County; New York,1989,151,115,0,0,0,0,115,...,0,0,0,0,0,0,0,0,Bronx,Soundview-Clason Point
2,36005000400,Census Tract 4; Bronx County; New York,1027,12,0,0,0,0,0,0,...,15,0,0,58,0,0,0,0,Bronx,Soundview-Clason Point
3,36005001600,Census Tract 16; Bronx County; New York,1810,78,37,0,8,0,0,29,...,11,13,0,0,0,0,0,0,Bronx,Soundview-Clason Point
4,36005001901,Census Tract 19.01; Bronx County; New York,595,65,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,Bronx,Mott Haven-Port Morris
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2322,36085030302,Census Tract 303.02; Richmond County; New York,2128,386,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,Staten Island,Mariner's Harbor-Arlington-Graniteville
2323,36085031901,Census Tract 319.01; Richmond County; New York,522,0,0,0,0,0,0,0,...,23,6,0,0,0,0,0,0,Staten Island,Mariner's Harbor-Arlington-Graniteville
2324,36085031902,Census Tract 319.02; Richmond County; New York,1122,24,0,0,0,0,0,0,...,15,0,0,0,0,0,0,0,Staten Island,Mariner's Harbor-Arlington-Graniteville
2325,36085032300,Census Tract 323; Richmond County; New York,211,0,0,0,0,0,0,0,...,3,0,0,0,0,0,0,0,Staten Island,Mariner's Harbor-Arlington-Graniteville
2326,36085990100,Census Tract 9901; Richmond County; New York,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,Staten Island,Hoffman & Swinburne Islands

# selecting just subregions for now

In [18]:
selected_cols = [
    'GEO_ID',
    'Geographic Area Name',
    'Estimate!!Total:',
    'Europe::Northern Europe',
    'Europe::Western Europe',
    'Europe::Southern Europe',
    'Europe::Eastern Europe',
    'Asia::Eastern Asia',
    'Asia::South Central Asia',
    'Asia::South Eastern Asia',
    'Asia::Western Asia',
    'Africa::Eastern Africa',
    'Africa::Middle Africa',
    'Africa::Northern Africa',
    'Africa::Southern Africa',
    'Africa::Western Africa',
    'Oceania',
    'Americas::Latin America',
    'Americas::Latin America::Central America',
    'Americas::Latin America::South America',
    'Americas::Northern America',
    'BoroName',
    'NTAName'
]

region_df = merged_df[selected_cols].copy()
region_df

,GEO_ID,Geographic Area Name,Estimate!!Total:,Europe::Northern Europe,Europe::Western Europe,Europe::Southern Europe,Europe::Eastern Europe,Asia::Eastern Asia,Asia::South Central Asia,Asia::South Eastern Asia,...,Africa::Northern Africa,Africa::Southern Africa,Africa::Western Africa,Oceania,Americas::Latin America,Americas::Latin America::Central America,Americas::Latin America::South America,Americas::Northern America,BoroName,NTAName
0,36005000100,Census Tract 1; Bronx County; New York,396,0,6,7,5,31,19,35,...,0,0,0,0,293,126,40,0,Bronx,Rikers Island
1,36005000200,Census Tract 2; Bronx County; New York,1989,115,0,0,36,0,233,0,...,0,0,141,0,1464,230,67,0,Bronx,Soundview-Clason Point
2,36005000400,Census Tract 4; Bronx County; New York,1027,0,0,0,12,0,0,0,...,0,0,102,0,913,22,126,0,Bronx,Soundview-Clason Point
3,36005001600,Census Tract 16; Bronx County; New York,1810,37,0,8,33,0,106,55,...,0,0,514,0,1057,10,99,0,Bronx,Soundview-Clason Point
4,36005001901,Census Tract 19.01; Bronx County; New York,595,0,51,0,14,0,0,0,...,0,0,117,0,365,88,22,0,Bronx,Mott Haven-Port Morris
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2322,36085030302,Census Tract 303.02; Richmond County; New York,2128,0,0,26,360,99,279,140,...,245,0,255,0,608,402,35,0,Staten Island,Mariner's Harbor-Arlington-Graniteville
2323,36085031901,Census Tract 319.01; Richmond County; New York,522,0,0,0,0,29,57,3,...,0,0,99,0,334,51,148,0,Staten Island,Mariner's Harbor-Arlington-Graniteville
2324,36085031902,Census Tract 319.02; Richmond County; New York,1122,0,0,0,24,55,59,0,...,23,0,452,0,443,30,41,0,Staten Island,Mariner's Harbor-Arlington-Graniteville
2325,36085032300,Census Tract 323; Richmond County; New York,211,0,0,0,0,21,0,11,...,0,0,26,0,153,82,18,0,Staten Island,Mariner's Harbor-Arlington-Graniteville
2326,36085990100,Census Tract 9901; Richmond County; New York,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,Staten Island,Hoffman & Swinburne Islands

# merging with total population from table B01003

In [19]:
total_pop=pd.read_csv("total_population.csv")
total_pop

,GEO_ID,NAME,B01003_001E,B01003_001M,Unnamed: 4
0,Geography,Geographic Area Name,Estimate!!Total,Margin of Error!!Total,NaN
1,1400000US36005000100,Census Tract 1; Bronx County; New York,3538,1209,NaN
2,1400000US36005000200,Census Tract 2; Bronx County; New York,5177,721,NaN
3,1400000US36005000400,Census Tract 4; Bronx County; New York,6481,1051,NaN
4,1400000US36005001600,Census Tract 16; Bronx County; New York,6011,715,NaN
...,...,...,...,...,...
2323,1400000US36085030302,Census Tract 303.02; Richmond County; New York,6502,668,NaN
2324,1400000US36085031901,Census Tract 319.01; Richmond County; New York,3888,727,NaN
2325,1400000US36085031902,Census Tract 319.02; Richmond County; New York,4502,681,NaN
2326,1400000US36085032300,Census Tract 323; Richmond County; New York,1078,283,NaN
2327,1400000US36085990100,Census Tract 9901; Richmond County; New York,0,13,NaN

In [20]:
total_pop = total_pop.rename(columns={'NAME': 'Geographic Area Name'})
total_pop

,GEO_ID,Geographic Area Name,B01003_001E,B01003_001M,Unnamed: 4
0,Geography,Geographic Area Name,Estimate!!Total,Margin of Error!!Total,NaN
1,1400000US36005000100,Census Tract 1; Bronx County; New York,3538,1209,NaN
2,1400000US36005000200,Census Tract 2; Bronx County; New York,5177,721,NaN
3,1400000US36005000400,Census Tract 4; Bronx County; New York,6481,1051,NaN
4,1400000US36005001600,Census Tract 16; Bronx County; New York,6011,715,NaN
...,...,...,...,...,...
2323,1400000US36085030302,Census Tract 303.02; Richmond County; New York,6502,668,NaN
2324,1400000US36085031901,Census Tract 319.01; Richmond County; New York,3888,727,NaN
2325,1400000US36085031902,Census Tract 319.02; Richmond County; New York,4502,681,NaN
2326,1400000US36085032300,Census Tract 323; Richmond County; New York,1078,283,NaN
2327,1400000US36085990100,Census Tract 9901; Richmond County; New York,0,13,NaN

In [21]:
total_pop = total_pop.drop(columns=["B01003_001M", "Unnamed: 4"])

In [22]:
total_pop['GEO_ID'] = total_pop['GEO_ID'].str[9:]

In [23]:
merged_df_2 = pd.merge(region_df, total_pop, on='GEO_ID', how='inner')

In [24]:
merged_df_2 = merged_df_2.rename(columns={
    'Estimate!!Total:': 'total_foreign_born',
    'B01003_001E': 'total_tract_pop'
})
merged_df_2

,GEO_ID,Geographic Area Name_x,total_foreign_born,Europe::Northern Europe,Europe::Western Europe,Europe::Southern Europe,Europe::Eastern Europe,Asia::Eastern Asia,Asia::South Central Asia,Asia::South Eastern Asia,...,Africa::Western Africa,Oceania,Americas::Latin America,Americas::Latin America::Central America,Americas::Latin America::South America,Americas::Northern America,BoroName,NTAName,Geographic Area Name_y,total_tract_pop
0,36005000100,Census Tract 1; Bronx County; New York,396,0,6,7,5,31,19,35,...,0,0,293,126,40,0,Bronx,Rikers Island,Census Tract 1; Bronx County; New York,3538
1,36005000200,Census Tract 2; Bronx County; New York,1989,115,0,0,36,0,233,0,...,141,0,1464,230,67,0,Bronx,Soundview-Clason Point,Census Tract 2; Bronx County; New York,5177
2,36005000400,Census Tract 4; Bronx County; New York,1027,0,0,0,12,0,0,0,...,102,0,913,22,126,0,Bronx,Soundview-Clason Point,Census Tract 4; Bronx County; New York,6481
3,36005001600,Census Tract 16; Bronx County; New York,1810,37,0,8,33,0,106,55,...,514,0,1057,10,99,0,Bronx,Soundview-Clason Point,Census Tract 16; Bronx County; New York,6011
4,36005001901,Census Tract 19.01; Bronx County; New York,595,0,51,0,14,0,0,0,...,117,0,365,88,22,0,Bronx,Mott Haven-Port Morris,Census Tract 19.01; Bronx County; New York,2401
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2322,36085030302,Census Tract 303.02; Richmond County; New York,2128,0,0,26,360,99,279,140,...,255,0,608,402,35,0,Staten Island,Mariner's Harbor-Arlington-Graniteville,Census Tract 303.02; Richmond County; New York,6502
2323,36085031901,Census Tract 319.01; Richmond County; New York,522,0,0,0,0,29,57,3,...,99,0,334,51,148,0,Staten Island,Mariner's Harbor-Arlington-Graniteville,Census Tract 319.01; Richmond County; New York,3888
2324,36085031902,Census Tract 319.02; Richmond County; New York,1122,0,0,0,24,55,59,0,...,452,0,443,30,41,0,Staten Island,Mariner's Harbor-Arlington-Graniteville,Census Tract 319.02; Richmond County; New York,4502
2325,36085032300,Census Tract 323; Richmond County; New York,211,0,0,0,0,21,0,11,...,26,0,153,82,18,0,Staten Island,Mariner's Harbor-Arlington-Graniteville,Census Tract 323; Richmond County; New York,1078
2326,36085990100,Census Tract 9901; Richmond County; New York,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,Staten Island,Hoffman & Swinburne Islands,Census Tract 9901; Richmond County; New York,0

In [25]:
merged_df_2["total_foreign_born"] = pd.to_numeric(merged_df_2["total_foreign_born"], errors='coerce')
merged_df_2["total_tract_pop"] = pd.to_numeric(merged_df_2["total_tract_pop"], errors='coerce')

In [26]:
print(merged_df_2.dtypes)

GEO_ID                                      object
Geographic Area Name_x                      object
total_foreign_born                           int64
Europe::Northern Europe                     object
Europe::Western Europe                      object
Europe::Southern Europe                     object
Europe::Eastern Europe                      object
Asia::Eastern Asia                          object
Asia::South Central Asia                    object
Asia::South Eastern Asia                    object
Asia::Western Asia                          object
Africa::Eastern Africa                      object
Africa::Middle Africa                       object
Africa::Northern Africa                     object
Africa::Southern Africa                     object
Africa::Western Africa                      object
Oceania                                     object
Americas::Latin America                     object
Americas::Latin America::Central America    object
Americas::Latin America::South America      object
Americas::Northern America                  object
BoroName                                    object
NTAName                                     object
Geographic Area Name_y                      object
total_tract_pop                              int64
dtype: object

# grouping by neighborhood

In [27]:
columns_to_convert = [
    'Europe::Northern Europe',
    'Europe::Western Europe',
    'Europe::Southern Europe',
    'Europe::Eastern Europe',
    'Asia::Eastern Asia',
    'Asia::South Central Asia',
    'Asia::South Eastern Asia',
    'Asia::Western Asia',
    'Africa::Eastern Africa',
    'Africa::Middle Africa',
    'Africa::Northern Africa',
    'Africa::Southern Africa',
    'Africa::Western Africa',
    'Oceania',
    'Americas::Latin America',
    'Americas::Latin America::Central America',
    'Americas::Latin America::South America',
    'Americas::Northern America',    
]

for col in columns_to_convert:
    merged_df_2[col] = pd.to_numeric(merged_df_2[col], errors="coerce")

In [28]:
nta_summary = merged_df_2.groupby("NTAName", as_index=False).sum(numeric_only=True)

In [29]:
nta_summary

,NTAName,total_foreign_born,Europe::Northern Europe,Europe::Western Europe,Europe::Southern Europe,Europe::Eastern Europe,Asia::Eastern Asia,Asia::South Central Asia,Asia::South Eastern Asia,Asia::Western Asia,...,Africa::Middle Africa,Africa::Northern Africa,Africa::Southern Africa,Africa::Western Africa,Oceania,Americas::Latin America,Americas::Latin America::Central America,Americas::Latin America::South America,Americas::Northern America,total_tract_pop
0,Allerton,12389,41,54,194,1517,113,473,588,193,...,13,141,0,938,0,7991,1717,842,0,33558
1,Alley Pond Park,29,0,0,2,0,0,0,0,20,...,0,0,0,0,0,7,4,2,0,97
2,Annadale-Huguenot-Prince's Bay-Woodrow,7424,26,108,1322,2426,763,895,106,502,...,0,461,0,63,0,645,137,343,94,42360
3,Arden Heights-Rossville,6576,79,0,624,1735,1747,441,136,468,...,0,586,0,0,0,760,158,307,0,31491
4,Astoria (Central),17574,431,330,1617,3240,1769,2116,1136,223,...,0,146,55,0,68,6177,1815,3483,128,47901
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
257,Windsor Terrace-South Slope,5072,261,456,254,982,611,330,262,107,...,0,55,18,26,43,1518,745,455,141,25602
258,Woodhaven,21605,114,87,119,1499,3528,1542,753,296,...,0,47,0,63,0,13482,2010,6487,75,41182
259,Woodlawn Cemetery,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
260,Woodside,28845,489,150,788,1329,4182,5904,3999,322,...,0,165,0,30,14,11376,5027,4939,25,47886
261,Yankee Stadium-Macombs Dam Park,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

# calculating foreign born percentage population

In [30]:
nta_summary = nta_summary.dropna()
nta_summary

,NTAName,total_foreign_born,Europe::Northern Europe,Europe::Western Europe,Europe::Southern Europe,Europe::Eastern Europe,Asia::Eastern Asia,Asia::South Central Asia,Asia::South Eastern Asia,Asia::Western Asia,...,Africa::Middle Africa,Africa::Northern Africa,Africa::Southern Africa,Africa::Western Africa,Oceania,Americas::Latin America,Americas::Latin America::Central America,Americas::Latin America::South America,Americas::Northern America,total_tract_pop
0,Allerton,12389,41,54,194,1517,113,473,588,193,...,13,141,0,938,0,7991,1717,842,0,33558
1,Alley Pond Park,29,0,0,2,0,0,0,0,20,...,0,0,0,0,0,7,4,2,0,97
2,Annadale-Huguenot-Prince's Bay-Woodrow,7424,26,108,1322,2426,763,895,106,502,...,0,461,0,63,0,645,137,343,94,42360
3,Arden Heights-Rossville,6576,79,0,624,1735,1747,441,136,468,...,0,586,0,0,0,760,158,307,0,31491
4,Astoria (Central),17574,431,330,1617,3240,1769,2116,1136,223,...,0,146,55,0,68,6177,1815,3483,128,47901
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
257,Windsor Terrace-South Slope,5072,261,456,254,982,611,330,262,107,...,0,55,18,26,43,1518,745,455,141,25602
258,Woodhaven,21605,114,87,119,1499,3528,1542,753,296,...,0,47,0,63,0,13482,2010,6487,75,41182
259,Woodlawn Cemetery,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
260,Woodside,28845,489,150,788,1329,4182,5904,3999,322,...,0,165,0,30,14,11376,5027,4939,25,47886
261,Yankee Stadium-Macombs Dam Park,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [31]:
nta_summary["foreign_born_pct"] = (nta_summary["total_foreign_born"] / nta_summary["total_tract_pop"]) * 100
nta_summary.sort_values(by=["foreign_born_pct"], ascending=False).head(50)

,NTAName,total_foreign_born,Europe::Northern Europe,Europe::Western Europe,Europe::Southern Europe,Europe::Eastern Europe,Asia::Eastern Asia,Asia::South Central Asia,Asia::South Eastern Asia,Asia::Western Asia,...,Africa::Northern Africa,Africa::Southern Africa,Africa::Western Africa,Oceania,Americas::Latin America,Americas::Latin America::Central America,Americas::Latin America::South America,Americas::Northern America,total_tract_pop,foreign_born_pct
81,Flushing-Willets Point,43568,155,42,41,728,31230,3591,2263,180,...,0,0,47,21,5175,836,3128,25,59755,72.911053
23,Brighton Beach,21065,26,5,29,12110,548,4188,164,2145,...,30,0,0,0,1807,1278,373,13,29628,71.098285
115,Holy Cross Cemetery,15,0,0,0,0,0,0,0,0,...,0,0,0,0,15,0,0,0,22,68.181818
63,East Flushing,19891,41,80,233,544,13203,841,1028,69,...,0,15,115,0,3679,996,1999,0,30054,66.184202
211,South Richmond Hill,15384,28,5,88,30,513,4149,187,112,...,0,0,22,13,10101,809,7653,43,23428,65.665016
73,Elmhurst,66452,171,209,225,822,12751,12321,10914,292,...,215,0,48,23,28136,8141,16559,59,101254,65.629012
170,North Corona,24521,18,10,107,48,1688,438,229,48,...,119,0,96,32,21672,6964,10562,0,39689,61.782862
190,Queensboro Hill,12001,29,78,202,57,8059,503,1008,93,...,0,0,0,0,1972,453,1431,0,19882,60.361131
260,Woodside,28845,489,150,788,1329,4182,5904,3999,322,...,165,0,30,14,11376,5027,4939,25,47886,60.236812
165,Murray Hill-Broadway Flushing,32271,106,101,1025,1256,21830,989,955,210,...,449,64,113,107,4915,1587,2446,40,53856,59.920900
47,Corona,40255,2,125,344,267,4119,2772,963,198,...,90,0,1482,0,29811,8963,13282,27,67362,59.759211
121,Jackson Heights,56171,409,229,827,3058,4263,8391,2665,669,...,632,348,154,37,33808,8884,20944,447,94474,59.456570
123,Jamaica,33632,34,28,487,139,1125,10657,1358,200,...,137,0,615,0,18599,5935,7610,26,57355,58.638305
210,South Ozone Park,46126,83,23,198,138,1205,5755,500,102,...,60,0,111,0,37867,1694,26358,39,80994,56.949898
20,Bensonhurst,54477,54,234,3187,10256,21592,4801,1453,2212,...,1800,0,65,0,8650,5978,1772,106,96111,56.681337
127,Jamaica Hills-Briarwood,21660,118,42,359,1826,1914,7460,1802,287,...,222,0,592,6,6908,1258,3620,52,38325,56.516634
225,Sunset Park (Central),24304,85,31,115,328,14842,647,275,91,...,72,0,11,19,7741,4541,1212,11,43324,56.098237
226,Sunset Park (East)-Borough Park (West),16952,112,77,73,959,10342,727,473,145,...,38,0,0,0,3969,2259,1172,37,30883,54.891040
193,Rego Park,15921,308,104,265,2479,3661,3456,1690,618,...,237,0,68,0,2935,147,2039,48,29500,53.969492
98,Gravesend (West),30070,38,157,749,6296,12744,3662,1044,1256,...,548,21,6,0,3390,2101,625,52,55817,53.872476
126,Jamaica Estates-Holliswood,13193,57,167,122,385,614,3796,1135,275,...,281,0,231,0,6011,692,2043,17,24527,53.789701
58,East Elmhurst,14865,38,12,63,38,819,1426,419,19,...,197,0,205,0,11609,2301,5379,8,27782,53.505867
177,Ozone Park (North),14072,16,19,109,639,521,3826,168,133,...,79,0,14,53,8438,1306,4849,22,26317,53.471140
44,College Point,16259,38,21,923,363,6464,1132,489,260,...,63,0,0,0,6295,1196,3365,168,30880,52.652202
258,Woodhaven,21605,114,87,119,1499,3528,1542,753,296,...,47,0,63,0,13482,2010,6487,75,41182,52.462241
97,Gravesend (South),14526,10,5,477,5184,2835,2334,455,1371,...,190,0,89,0,1433,685,425,15,28037,51.810108
60,East Flatbush-Farragut,17710,104,23,14,18,111,248,18,58,...,0,0,520,0,16538,639,3392,15,34395,51.490042
62,East Flatbush-Rugby,19384,75,41,158,19,103,213,76,238,...,103,0,434,0,17779,795,2261,22,37809,51.268217
11,Bath Beach,15758,35,66,684,2971,5789,2252,336,761,...,605,47,63,7,1978,908,623,109,30826,51.119185
189,Queens Village,28650,64,61,249,262,1050,4098,2002,149,...,34,11,444,0,20131,2034,8038,77,56154,51.020408
194,Richmond Hill,17164,33,35,162,534,589,3917,711,39,...,65,9,20,20,10984,2499,5824,37,34013,50.463058
122,Jacob Riis Park-Fort Tilden-Breezy Point Tip,4,0,4,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,8,50.000000
114,Hollis,11287,55,39,9,12,170,2328,608,45,...,16,6,231,0,7670,359,3431,14,22737,49.641553
46,Coney Island-Sea Gate,25903,68,58,103,14950,2005,2050,178,1713,...,298,0,1016,0,3268,1579,719,109,52480,49.357851
202,Sheepshead Bay-Manhattan Beach-Gerritsen Beach,32242,46,269,201,16150,6147,3360,639,2166,...,386,16,57,7,2625,858,544,120,65400,49.299694
141,Madison,19341,108,166,140,6372,5015,2220,636,2445,...,341,4,13,80,1575,604,461,143,39842,48.544250
18,Bellerose,13251,68,10,101,177,1664,5937,1417,80,...,18,18,103,24,3568,644,1907,60,27333,48.479860
39,Chinatown-Two Bridges,18679,176,112,104,226,14879,283,1119,122,...,0,0,95,29,1391,183,466,75,38769,48.180247
89,Fresh Meadows-Utopia,9998,15,37,123,365,6150,1375,413,265,...,164,0,63,0,967,80,540,43,20815,48.032669
222,Sunnyside,22511,411,206,195,1648,2520,4490,1921,661,...,403,18,138,55,9724,3042,5510,70,47507,47.384596
82,Fordham Heights,15398,0,0,23,13,50,116,76,0,...,52,0,1346,0,13459,3541,722,0,32647,47.165130
96,Gravesend (East)-Homecrest,24009,33,125,467,8250,2488,3650,419,4414,...,749,8,12,0,3235,1744,820,76,51220,46.874268
57,Dyker Heights,18808,111,21,1557,1123,10093,679,902,645,...,1185,0,90,0,2242,1073,1007,62,40173,46.817514
163,Mount Hope,21631,0,0,19,86,51,201,28,39,...,0,0,4911,0,15903,1882,1677,45,47292,45.739237
248,Washington Heights (South),34050,273,345,263,446,677,619,766,324,...,100,62,155,128,29657,3369,3018,73,74814,45.512872
53,Cypress Hills,18594,18,147,139,39,435,254,56,242,...,0,0,184,0,17022,1866,5893,0,41071,45.272820
171,Norwood,17865,16,49,30,785,107,2261,333,125,...,76,1,403,0,13188,2900,1352,0,39547,45.174097
8,Auburndale,15638,148,77,1281,579,8915,763,926,265,...,118,16,16,11,2473,467,1610,43,34698,45.068880
83,Forest Hills,41229,313,839,772,7369,10411,7705,2241,2174,...,596,0,131,114,7614,1271,4920,413,91631,44.994598
33,Canarsie,37061,285,75,190,236,835,227,329,328,...,55,0,1379,18,32874,1044,3637,100,82938,44.685187

In [32]:
for col in nta_summary.select_dtypes(include='number').columns:
    if col != "total_tract_pop":
        nta_summary[f"{col}_pct"] = (nta_summary[col] / nta_summary["total_tract_pop"]) * 100

In [33]:
nta_summary.columns

Index(['NTAName', 'total_foreign_born', 'Europe::Northern Europe',
       'Europe::Western Europe', 'Europe::Southern Europe',
       'Europe::Eastern Europe', 'Asia::Eastern Asia',
       'Asia::South Central Asia', 'Asia::South Eastern Asia',
       'Asia::Western Asia', 'Africa::Eastern Africa', 'Africa::Middle Africa',
       'Africa::Northern Africa', 'Africa::Southern Africa',
       'Africa::Western Africa', 'Oceania', 'Americas::Latin America',
       'Americas::Latin America::Central America',
       'Americas::Latin America::South America', 'Americas::Northern America',
       'total_tract_pop', 'foreign_born_pct', 'total_foreign_born_pct',
       'Europe::Northern Europe_pct', 'Europe::Western Europe_pct',
       'Europe::Southern Europe_pct', 'Europe::Eastern Europe_pct',
       'Asia::Eastern Asia_pct', 'Asia::South Central Asia_pct',
       'Asia::South Eastern Asia_pct', 'Asia::Western Asia_pct',
       'Africa::Eastern Africa_pct', 'Africa::Middle Africa_pct',
       'Africa::Northern Africa_pct', 'Africa::Southern Africa_pct',
       'Africa::Western Africa_pct', 'Oceania_pct',
       'Americas::Latin America_pct',
       'Americas::Latin America::Central America_pct',
       'Americas::Latin America::South America_pct',
       'Americas::Northern America_pct', 'foreign_born_pct_pct'],
      dtype='object')

In [34]:
nta_summary.sort_values(by="Asia::South Central Asia_pct", ascending=False).head(50)

,NTAName,total_foreign_born,Europe::Northern Europe,Europe::Western Europe,Europe::Southern Europe,Europe::Eastern Europe,Asia::Eastern Asia,Asia::South Central Asia,Asia::South Eastern Asia,Asia::Western Asia,...,Africa::Middle Africa_pct,Africa::Northern Africa_pct,Africa::Southern Africa_pct,Africa::Western Africa_pct,Oceania_pct,Americas::Latin America_pct,Americas::Latin America::Central America_pct,Americas::Latin America::South America_pct,Americas::Northern America_pct,foreign_born_pct_pct
92,Glen Oaks-Floral Park-New Hyde Park,10150,63,131,161,233,1233,5897,717,125,...,0.000000,0.069997,0.000000,0.161869,0.000000,6.133520,0.643101,3.386123,0.284364,0.194263
18,Bellerose,13251,68,10,101,177,1664,5937,1417,80,...,0.000000,0.065854,0.065854,0.376834,0.087806,13.053818,2.356126,6.976914,0.219515,0.177368
127,Jamaica Hills-Briarwood,21660,118,42,359,1826,1914,7460,1802,287,...,0.057404,0.579256,0.000000,1.544684,0.015656,18.024788,3.282453,9.445532,0.135682,0.147467
123,Jamaica,33632,34,28,487,139,1125,10657,1358,200,...,0.000000,0.238863,0.000000,1.072269,0.000000,32.427862,10.347834,13.268242,0.045332,0.102237
211,South Richmond Hill,15384,28,5,88,30,513,4149,187,112,...,0.042684,0.000000,0.000000,0.093905,0.055489,43.115076,3.453133,32.666041,0.183541,0.280284
126,Jamaica Estates-Holliswood,13193,57,167,122,385,614,3796,1135,275,...,0.093774,1.145676,0.000000,0.941819,0.000000,24.507685,2.821381,8.329596,0.069311,0.219308
252,Westchester Square,6692,42,20,0,69,150,2321,174,95,...,0.000000,0.000000,0.000000,0.591408,0.000000,24.059271,5.569637,5.849093,0.000000,0.282649
177,Ozone Park (North),14072,16,19,109,639,521,3826,168,133,...,0.094996,0.300186,0.000000,0.053198,0.201391,32.062925,4.962572,18.425352,0.083596,0.203181
179,Parkchester,11033,0,19,75,1,134,4299,364,139,...,0.000000,0.871139,0.000000,3.152851,0.000000,15.489513,2.382229,2.837901,0.043557,0.123857
23,Brighton Beach,21065,26,5,29,12110,548,4188,164,2145,...,0.000000,0.101256,0.000000,0.000000,0.000000,6.098960,4.313487,1.258944,0.043877,0.239970
129,Kensington,14330,457,261,115,2262,896,5243,226,911,...,0.128975,0.465888,0.021057,0.102653,0.589598,8.554433,3.084860,3.537587,0.350074,0.099280
176,Ozone Park,9629,62,4,599,230,697,2940,760,63,...,0.000000,0.283067,0.000000,0.000000,0.000000,17.996226,3.992966,8.410534,0.051467,0.177122
260,Woodside,28845,489,150,788,1329,4182,5904,3999,322,...,0.000000,0.344568,0.000000,0.062649,0.029236,23.756422,10.497849,10.314079,0.052207,0.125792
73,Elmhurst,66452,171,209,225,822,12751,12321,10914,292,...,0.000000,0.212337,0.000000,0.047406,0.022715,27.787544,8.040176,16.353922,0.058269,0.064816
193,Rego Park,15921,308,104,265,2479,3661,3456,1690,618,...,0.000000,0.803390,0.000000,0.230508,0.000000,9.949153,0.498305,6.911864,0.162712,0.182947
194,Richmond Hill,17164,33,35,162,534,589,3917,711,39,...,0.000000,0.191103,0.026460,0.058801,0.058801,32.293535,7.347191,17.122865,0.108782,0.148364
78,Flatbush (West)-Ditmas Park-Parkville,16449,306,351,153,2133,1045,4638,318,792,...,0.000000,0.318306,0.000000,0.602068,0.078960,15.377403,4.046685,3.279295,0.138179,0.100150
68,East New York-City Line,19050,22,28,87,9,611,5506,77,251,...,0.000000,0.087191,0.000000,3.479530,0.000000,21.558489,2.747531,6.636657,0.000000,0.078325
114,Hollis,11287,55,39,9,12,170,2328,608,45,...,0.000000,0.070370,0.026389,1.015965,0.000000,33.733562,1.578924,15.089942,0.061574,0.218329
209,South Jamaica,18211,31,6,0,44,355,4085,116,10,...,0.037135,0.081233,0.000000,2.218818,0.016247,29.069767,1.413452,12.340435,0.041777,0.098098
222,Sunnyside,22511,411,206,195,1648,2520,4490,1921,661,...,0.042099,0.848296,0.037889,0.290484,0.115772,20.468563,6.403267,11.598291,0.147347,0.099742
36,Castle Hill-Unionport,12186,0,0,104,8,151,3445,89,105,...,0.000000,0.030025,0.000000,1.514903,0.000000,21.042144,3.698548,4.899552,0.000000,0.090791
154,Midwood,20106,171,378,37,7360,1064,4745,285,2473,...,0.000000,0.452160,0.031455,0.192659,0.094364,5.980302,2.186093,1.132365,0.084534,0.077706
191,Queensbridge-Ravenswood-Dutch Kills,11245,257,80,592,488,1898,2452,331,268,...,0.080009,1.840201,0.134560,0.327308,0.247300,14.357930,3.764047,6.593447,0.458232,0.148727
121,Jackson Heights,56171,409,229,827,3058,4263,8391,2665,669,...,0.041281,0.668967,0.368355,0.163008,0.039164,35.785507,9.403645,22.169062,0.473146,0.062934
83,Forest Hills,41229,313,839,772,7369,10411,7705,2241,2174,...,0.002183,0.650435,0.000000,0.142965,0.124412,8.309415,1.387085,5.369362,0.450721,0.049104
97,Gravesend (South),14526,10,5,477,5184,2835,2334,455,1371,...,0.000000,0.677676,0.000000,0.317438,0.000000,5.111103,2.443200,1.515854,0.053501,0.184792
11,Bath Beach,15758,35,66,684,2971,5789,2252,336,761,...,0.003244,1.962629,0.152469,0.204373,0.022708,6.416661,2.945565,2.021021,0.353598,0.165831
189,Queens Village,28650,64,61,249,262,1050,4098,2002,149,...,0.000000,0.060548,0.019589,0.790683,0.000000,35.849628,3.622182,14.314207,0.137123,0.090858
130,Kew Gardens,9162,114,227,168,1861,617,1764,529,247,...,0.000000,1.093142,0.000000,0.421699,0.000000,13.076766,2.345957,8.515865,0.151484,0.153575
96,Gravesend (East)-Homecrest,24009,33,125,467,8250,2488,3650,419,4414,...,0.000000,1.462319,0.015619,0.023428,0.000000,6.315892,3.404920,1.600937,0.148380,0.091516
210,South Ozone Park,46126,83,23,198,138,1205,5755,500,102,...,0.000000,0.074080,0.000000,0.137047,0.000000,46.752846,2.091513,32.543151,0.048152,0.070314
231,Todt Hill-Emerson Hill-Lighthouse Hill-Manor H...,8905,111,60,556,1379,977,2294,645,1067,...,0.000000,0.403573,0.000000,0.359061,0.000000,4.065403,1.011899,1.934776,0.504466,0.078415
89,Fresh Meadows-Utopia,9998,15,37,123,365,6150,1375,413,265,...,0.000000,0.787893,0.000000,0.302666,0.000000,4.645688,0.384338,2.594283,0.206582,0.230760
98,Gravesend (West),30070,38,157,749,6296,12744,3662,1044,1256,...,0.000000,0.981780,0.037623,0.010749,0.000000,6.073418,3.764086,1.119731,0.093162,0.096516
81,Flushing-Willets Point,43568,155,42,41,728,31230,3591,2263,180,...,0.000000,0.000000,0.000000,0.078655,0.035144,8.660363,1.399046,5.234708,0.041838,0.122017
171,Norwood,17865,16,49,30,785,107,2261,333,125,...,0.396996,0.192176,0.002529,1.019041,0.000000,33.347662,7.333047,3.418717,0.000000,0.114229
141,Madison,19341,108,166,140,6372,5015,2220,636,2445,...,0.000000,0.855881,0.010040,0.032629,0.200793,3.953115,1.515988,1.157070,0.358918,0.121842
131,Kew Gardens Hills,13593,12,205,152,1779,4023,1961,718,515,...,0.000000,0.732952,0.000000,0.685028,0.000000,10.261326,1.651961,4.995349,0.039467,0.108024
184,Pomonok-Electchester-Hillcrest,14904,25,247,162,789,4261,1881,900,388,...,0.016785,0.123091,0.173446,0.215409,0.000000,16.049348,2.162480,7.004980,0.000000,0.116640
202,Sheepshead Bay-Manhattan Beach-Gerritsen Beach,32242,46,269,201,16150,6147,3360,639,2166,...,0.000000,0.590214,0.024465,0.087156,0.010703,4.013761,1.311927,0.831804,0.183486,0.075382
58,East Elmhurst,14865,38,12,63,38,819,1426,419,19,...,0.000000,0.709092,0.000000,0.737888,0.000000,41.786049,8.282341,19.361457,0.028796,0.192592
20,Bensonhurst,54477,54,234,3187,10256,21592,4801,1453,2212,...,0.000000,1.872835,0.000000,0.067630,0.000000,9.000010,6.219892,1.843702,0.110289,0.058975
143,Mapleton-Midwood (West),10417,217,298,479,2600,1601,1815,58,1178,...,0.043057,0.365985,0.040366,0.231432,0.000000,4.991927,3.361141,1.135630,0.169537,0.075438
5,Astoria (East)-Woodside (North),15383,255,172,1595,2285,1396,1729,1158,313,...,0.000000,1.202415,0.000000,0.042563,0.023942,15.729829,4.447873,9.284137,0.183555,0.108861
166,Murray Hill-Kips Bay,14988,452,689,848,1212,3599,2440,963,749,...,0.045533,0.293234,0.109280,0.449868,0.344231,4.258264,0.489937,2.058100,1.478918,0.049719
4,Astoria (Central),17574,431,330,1617,3240,1769,2116,1136,223,...,0.000000,0.304795,0.114820,0.000000,0.141959,12.895347,3.789065,7.271247,0.267218,0.076592
153,Midtown-Times Square,8062,321,665,275,749,1701,931,628,327,...,0.123012,0.833751,0.072896,0.441934,0.341701,7.029933,1.157228,2.811062,2.227892,0.167345
146,Mariner's Harbor-Arlington-Graniteville,9100,4,0,153,743,690,1375,706,75,...,0.045715,1.100207,0.000000,3.922345,0.000000,10.727783,4.266732,2.447275,0.009143,0.084523
47,Corona,40255,2,125,344,267,4119,2772,963,198,...,0.000000,0.133606,0.000000,2.200053,0.000000,44.254921,13.305721,19.717348,0.040082,0.088714

# For South Central Asia: Glen Oaks-Floral Park-New Hyde Park, Bellerose, Jamaica Hills-Briarwood, Jamaica, South Richmond Hill, Flushing, Jackson Heights

In [37]:
nta_summary.sort_values(by="Americas::Latin America_pct", ascending=False).head(50)

,NTAName,total_foreign_born,Europe::Northern Europe,Europe::Western Europe,Europe::Southern Europe,Europe::Eastern Europe,Asia::Eastern Asia,Asia::South Central Asia,Asia::South Eastern Asia,Asia::Western Asia,...,Africa::Middle Africa_pct,Africa::Northern Africa_pct,Africa::Southern Africa_pct,Africa::Western Africa_pct,Oceania_pct,Americas::Latin America_pct,Americas::Latin America::Central America_pct,Americas::Latin America::South America_pct,Americas::Northern America_pct,foreign_born_pct_pct
115,Holy Cross Cemetery,15,0,0,0,0,0,0,0,0,...,0.000000,0.000000,0.000000,0.000000,0.000000,68.181818,0.000000,0.000000,0.000000,309.917355
170,North Corona,24521,18,10,107,48,1688,438,229,48,...,0.040313,0.299831,0.000000,0.241881,0.080627,54.604550,17.546423,26.611908,0.000000,0.155667
60,East Flatbush-Farragut,17710,104,23,14,18,111,248,18,58,...,0.031981,0.000000,0.000000,1.511848,0.000000,48.082570,1.857828,9.861899,0.043611,0.149702
62,East Flatbush-Rugby,19384,75,41,158,19,103,213,76,238,...,0.042318,0.272422,0.000000,1.147875,0.000000,47.023196,2.102674,5.980058,0.058187,0.135598
210,South Ozone Park,46126,83,23,198,138,1205,5755,500,102,...,0.000000,0.074080,0.000000,0.137047,0.000000,46.752846,2.091513,32.543151,0.048152,0.070314
47,Corona,40255,2,125,344,267,4119,2772,963,198,...,0.000000,0.133606,0.000000,2.200053,0.000000,44.254921,13.305721,19.717348,0.040082,0.088714
211,South Richmond Hill,15384,28,5,88,30,513,4149,187,112,...,0.042684,0.000000,0.000000,0.093905,0.055489,43.115076,3.453133,32.666041,0.183541,0.280284
58,East Elmhurst,14865,38,12,63,38,819,1426,419,19,...,0.000000,0.709092,0.000000,0.737888,0.000000,41.786049,8.282341,19.361457,0.028796,0.192592
53,Cypress Hills,18594,18,147,139,39,435,254,56,242,...,0.000000,0.000000,0.000000,0.448005,0.000000,41.445302,4.543352,14.348324,0.000000,0.110231
82,Fordham Heights,15398,0,0,23,13,50,116,76,0,...,0.000000,0.159280,0.000000,4.122890,0.000000,41.225840,10.846326,2.211536,0.000000,0.144470
61,East Flatbush-Remsen Village,17306,166,79,12,33,42,99,0,39,...,0.000000,1.175597,0.040979,1.426596,0.000000,40.421063,0.591640,7.378855,0.056347,0.113524
248,Washington Heights (South),34050,273,345,263,446,677,619,766,324,...,0.097575,0.133665,0.082872,0.207180,0.171091,39.640976,4.503168,4.034004,0.097575,0.060835
33,Canarsie,37061,285,75,190,236,835,227,329,328,...,0.000000,0.066315,0.000000,1.662688,0.021703,39.636837,1.258772,4.385203,0.120572,0.053878
237,University Heights (North)-Fordham,19127,6,51,172,19,115,212,529,0,...,0.036072,0.000000,0.000000,0.752998,0.000000,39.514384,5.503201,2.689602,0.078907,0.097217
59,East Flatbush-Erasmus,20217,182,51,66,358,295,206,158,313,...,0.065345,0.052276,0.000000,1.258985,0.023960,38.971902,1.790460,4.554563,0.100196,0.095918
9,Baisley Park,18829,120,43,0,21,207,907,35,72,...,0.000000,0.064961,0.000000,1.426815,0.000000,38.554161,1.974341,15.720483,0.000000,0.101347
217,St. Albans,22710,140,14,0,50,108,674,153,205,...,0.007219,0.000000,0.000000,1.516027,0.000000,36.446001,1.252527,9.200837,0.203942,0.073973
32,Cambria Heights,8091,56,0,15,22,87,83,98,0,...,0.030036,0.185222,0.000000,1.616940,0.000000,36.358630,1.266520,5.546656,0.435523,0.202761
201,Rosedale,10896,128,0,60,51,142,33,28,0,...,0.000000,0.055447,0.000000,2.347244,0.000000,36.206705,1.582080,4.716667,0.000000,0.148880
119,Inwood,15757,267,95,216,346,400,282,143,82,...,0.000000,0.112539,0.000000,0.177969,0.005234,35.920856,3.373551,2.669528,0.230312,0.107930
189,Queens Village,28650,64,61,249,262,1050,4098,2002,149,...,0.000000,0.060548,0.019589,0.790683,0.000000,35.849628,3.622182,14.314207,0.137123,0.090858
121,Jackson Heights,56171,409,229,827,3058,4263,8391,2665,669,...,0.041281,0.668967,0.368355,0.163008,0.039164,35.785507,9.403645,22.169062,0.473146,0.062934
136,Laurelton,10677,84,15,6,5,52,206,22,21,...,0.029293,0.000000,0.000000,2.046869,0.000000,35.378982,1.014280,4.965214,0.010985,0.143155
216,Springfield Gardens (South)-Brookville,10121,72,67,5,29,34,403,20,54,...,0.469254,0.661036,0.000000,1.815808,0.000000,35.214429,1.497531,4.945526,0.053046,0.168517
238,University Heights (South)-Morris Heights,23151,42,42,9,40,95,439,0,70,...,0.050039,0.000000,0.000000,5.357871,0.000000,35.108788,3.699173,1.197227,0.022240,0.079517
247,Washington Heights (North),32223,382,505,349,2131,610,488,290,348,...,0.000000,0.041030,0.056913,0.238240,0.121767,34.645419,4.058025,3.962729,0.366625,0.056448
15,Bedford Park,22915,27,11,107,829,343,919,537,104,...,0.000000,0.072766,0.000000,2.770863,0.038298,34.594615,5.560875,3.123205,0.072766,0.084026
77,Flatbush,29040,289,215,122,499,362,1306,315,445,...,0.039609,0.108557,0.000000,1.799991,0.206845,34.535772,5.945692,3.663063,0.225916,0.062495
161,Mount Eden-Claremont (West),21758,14,17,10,34,156,215,79,0,...,0.052780,0.478927,0.000000,5.756900,0.000000,34.347877,6.880913,2.517789,0.000000,0.083143
114,Hollis,11287,55,39,9,12,170,2328,608,45,...,0.000000,0.070370,0.026389,1.015965,0.000000,33.733562,1.578924,15.089942,0.061574,0.218329
79,Flatlands,26952,199,89,56,646,791,1250,433,514,...,0.130208,0.298713,0.090380,0.646446,0.009191,33.690257,2.003676,5.389093,0.099571,0.063246
163,Mount Hope,21631,0,0,19,86,51,201,28,39,...,0.000000,0.000000,0.000000,10.384420,0.000000,33.627252,3.979531,3.546054,0.095154,0.096717
171,Norwood,17865,16,49,30,785,107,2261,333,125,...,0.396996,0.192176,0.002529,1.019041,0.000000,33.347662,7.333047,3.418717,0.000000,0.114229
246,Wakefield-Woodlawn,20880,661,0,316,270,61,295,185,44,...,0.024146,0.108658,0.000000,5.040546,0.000000,32.895346,1.766706,6.756947,0.080488,0.084542
258,Woodhaven,21605,114,87,119,1499,3528,1542,753,296,...,0.000000,0.114128,0.000000,0.152979,0.000000,32.737604,4.880773,15.752028,0.182118,0.127391
123,Jamaica,33632,34,28,487,139,1125,10657,1358,200,...,0.000000,0.238863,0.000000,1.072269,0.000000,32.427862,10.347834,13.268242,0.045332,0.102237
194,Richmond Hill,17164,33,35,162,534,589,3917,711,39,...,0.000000,0.191103,0.026460,0.058801,0.058801,32.293535,7.347191,17.122865,0.108782,0.148364
177,Ozone Park (North),14072,16,19,109,639,521,3826,168,133,...,0.094996,0.300186,0.000000,0.053198,0.201391,32.062925,4.962572,18.425352,0.083596,0.203181
132,Kingsbridge Heights-Van Cortlandt Village,13482,242,63,325,544,207,63,133,55,...,0.000000,0.302387,0.000000,1.462507,0.000000,31.177856,4.387521,3.038409,0.081412,0.113976
215,Springfield Gardens (North)-Rochdale Village,11700,66,12,36,0,113,248,21,0,...,0.048479,0.060599,0.000000,1.963398,0.000000,31.053812,0.296934,5.059993,0.000000,0.107412
255,Williamsbridge-Olinville,21740,161,0,38,183,11,268,260,48,...,0.000000,0.064039,0.000000,4.648909,0.000000,30.825415,2.713883,3.475431,0.074424,0.065125
10,Barren Island-Floyd Bennett Field,4,0,0,0,0,0,0,0,0,...,0.000000,0.000000,0.000000,0.000000,0.000000,30.769231,30.769231,0.000000,0.000000,236.686391
104,Hamilton Heights-Sugar Hill,20167,176,318,173,350,343,733,243,410,...,0.283647,0.102798,0.266514,0.736722,0.068532,30.569199,2.950695,4.113840,0.679612,0.073085
207,Soundview-Bruckner-Bronx River,24303,53,0,98,23,65,1370,108,285,...,0.048861,0.112528,0.000000,2.899066,0.000000,29.658420,8.033877,6.457010,0.057744,0.053278
72,Eastchester-Edenwald-Baychester,19337,262,0,43,77,4,265,113,0,...,0.412065,0.030105,0.000000,5.172446,0.000000,29.091012,1.503377,2.118652,0.065855,0.068459
209,South Jamaica,18211,31,6,0,44,355,4085,116,10,...,0.037135,0.081233,0.000000,2.218818,0.016247,29.069767,1.413452,12.340435,0.041777,0.098098
73,Elmhurst,66452,171,209,225,822,12751,12321,10914,292,...,0.000000,0.212337,0.000000,0.047406,0.022715,27.787544,8.040176,16.353922,0.058269,0.064816
133,Kingsbridge-Marble Hill,8261,102,52,157,566,295,168,57,58,...,0.111727,0.120003,0.000000,0.078623,0.000000,27.700074,4.129769,2.569726,0.153108,0.141457
69,East New York-New Lots,16504,67,0,31,33,120,576,96,0,...,0.496393,0.000000,0.129915,1.749011,0.000000,27.600248,1.452338,5.958660,0.120220,0.062053
51,Crown Heights (South),17976,343,283,230,674,118,132,98,660,...,0.000000,0.045913,0.000000,1.302776,0.131999,27.411857,2.257380,2.569204,0.518432,0.065787

# Sunset Park, Corona, Flatbush